openapi: 3.1.0
info:
  title: Grafana Cloud k6 REST Load tests Schedules API
  description: REST API for managing Grafana Cloud k6 load-testing resources, including projects, load tests, test runs, schedules, load zones, authorization, and metrics. All requests require an API token (Personal or Grafana Stack) and the X-Stack-Id header identifying the target Grafana stack.
  version: 6.0.0
  termsOfService: https://grafana.com/legal/terms/
  contact:
    name: Grafana k6 Support
    url: https://grafana.com/docs/k6/latest/
  license:
    name: Proprietary
    url: https://grafana.com/legal/terms/
servers:
- url: https://api.k6.io/cloud/v6
  description: Grafana Cloud k6 REST API (v6)
security:
- bearerAuth: []
tags:
- name: Schedules
  description: Manage scheduled load-test execution.
paths:
  /schedules:
    get:
      operationId: listSchedules
      summary: List schedules
      description: Return scheduled load-test executions for the Grafana stack.
      tags:
      - Schedules
      parameters:
      - name: X-Stack-Id
        in: header
        required: true
        description: Identifier of the Grafana stack to query.
        schema:
          type: string
      responses:
        '200':
          description: A list of schedules.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Grafana Cloud k6 API token (Personal or Grafana Stack token) supplied as a Bearer token in the Authorization header.
